.navbar {
  display:flex;
  justify-content: space-between;
  background-color: rgba(194, 163, 14, 1);
}
.navebar-header {
  order: -1;

}

.logo {
  height: 20vh;
}

.name {
  order: 0;
  font-size: 9vh;

}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.fa {
  font-size: 3vh;
}


@media (min-width: 500px;) {
  .logo < img {
    visibility: hidden;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 772px) {
  .logo < img {
    height: 50px;
  }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo < img{
    height: 100px;
  }
 }
