body {
  background-color: hsl(353, 0%, 70%);
}

.navbar{
  background-color: rgba(194, 163, 14, 1);
  border-bottom: solid rgb(153,53,0);
}
.logo {
  margin: 0%;
  padding: 0%;
  margin-left: 43vmax;
  height: 8vmax;
}

#name {
    margin-left: 37vmax;
    margin-top: 7vmax;
    color: rgb(65,65,65);
}



.social-links {
  margin-right: 5vmax;
  font-size: x-large;

}
.social-links > a:link {
  background-color: rgba(0,0,0,0);
  border: none;
}
.social-links > a:hover {
  background-color: rgba(0,0,0,0);
  border: none;
}
.social-links > a:visited {
  background-color: rgba(0,0,0,0);
  border: none;
}
.social-links > a:active {
  background-color: rgba(0,0,0,0);
  border: none;
}

.project {
  margin: 5vmin;
  border: solid rgb(153,53,0);
  background-color: rgba(194, 163, 14, 1);
}
.project-info {
  border-top: solid rgb(153,53,0)
}

.links > a, .links > a > i {
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.fa {
  font-size: 5vh;
}

.fa:hover {
  color: darkblue;
}




@media (min-width: 500px;) {
  .logo {
    visibility: hidden;
  }

  #name{
    font-size: 30px;
  }

  .social-links {
    margin-left: 5vmax;
    font-size: medium;

  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 772px) {
  .logo {
    margin-left: 50vmax;
    height: 9vmax;
  }
  #name{
    font-size: 50px;
  }
  .social-links {
    margin-right: 5vmax;
    font-size: medium;

  }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo {
    margin: 0%;
    padding: 0%;
    margin-left: 43vmax;
    height: 8vmax;
  }

  #name{
    font-size: 65px;
  }
  .social-links {
    margin-right: 5vmax;
    font-size: x-large;

  }
 }
